@media screen and (min-width:320px) and (max-width:980px) and (orientation:portrait)
{
    body{
        background-image: none;
        background-color: #bdeff8;
    }
    #caja1{
       margin: 30px 30px 30px 50px;
        width: 500px;
    }
    #caja2{
        margin: 30px 30px 30px 50px;
        width: 500px;
        float: none;
    }
    #con{
        font-size: 25px;
        text-align: center;
    }
    #jessica{
        margin-top: -240px;
        border-radius: 0px;
    }
    #nombre{
        height: 40px;
        margin: 20px 10px 20px 0px;
    }
    #email{
        height: 40px;
        margin: 20px 10px 20px 0px;
    }
    #p3{
        display: none;
    }
    .logotipo{
        margin: 10px 100px 10px 150px;
    }
    #titulo{
        text-align: center;
        font-size: 46px;
        margin: 10px 100px 10px 170px;
    }
    footer{
        margin-top: 50px;
        width:600px ;
        
       }







}